In [2]:
#1.1
import pandas as pd
pd.set_option("max_colwidth", 150)
f = "https://github.com/cs6220/cs6220.spring2019/raw/master/data/Online%20Retail.xlsx"
df = pd.read_excel(f)
basket = (df[df["Country"] == "United Kingdom"]
.groupby(["InvoiceNo", "Description"])["Quantity"]
.sum().unstack().reset_index().fillna(0)
.set_index("InvoiceNo")) # transform transactions into baskets of items
basket_sets = basket.applymap(lambda x: 1 if x >=1 else 0) # convert counts to booleans
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [2]:
basket_sets

Description,20713,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
basket_itemsets = apriori(basket_sets, min_support=0.02, use_colnames=True)
basket_itemsets

,support,itemsets
0,0.038793,(6 RIBBONS RUSTIC CHARM)
1,0.026361,(60 CAKE CASES VINTAGE CHRISTMAS)
2,0.034165,(60 TEATIME FAIRY CAKE CASES)
3,0.025181,(72 SWEETHEART FAIRY CAKE CASES)
4,0.039746,(ALARM CLOCK BAKELIKE GREEN)
...,...,...
237,0.021234,"(RED HANGING HEART T-LIGHT HOLDER, WHITE HANGING HEART T-LIGHT HOLDER)"
238,0.020780,"(STRAWBERRY CHARLOTTE BAG, RED RETROSPOT CHARLOTTE BAG)"
239,0.020599,"(ROSES REGENCY TEACUP AND SAUCER , REGENCY CAKESTAND 3 TIER)"
240,0.023956,"(WOODEN PICTURE FRAME WHITE FINISH, WOODEN FRAME ANTIQUE WHITE )"
241,0.022368,"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER , PINK REGENCY TEACUP AND SAUCER)"

In [4]:
oneItemSets = basket_itemsets[basket_itemsets.itemsets.map(len)==1]
twoItemSets = basket_itemsets[basket_itemsets.itemsets.map(len)==2]
#basket_itemsets.sort_values(by=['support'], ascending=False)
#for i in basket_itemsets["itemsets"]:
    #print(len(i))

In [5]:
#1.1.1
oneItemSets
oneItemSets.sort_values(by=['support'], ascending=False).head(5)
#As we can see, the top 5 1-itemsets with the highest support is in the dataframe down below.

      support                              itemsets
188  0.098276  (WHITE HANGING HEART T-LIGHT HOLDER)
75   0.087931             (JUMBO BAG RED RETROSPOT)
148  0.076452            (REGENCY CAKESTAND 3 TIER)
121  0.072323                       (PARTY BUNTING)
99   0.063158             (LUNCH BAG RED RETROSPOT)

In [6]:
#1.1.2
twoItemSets
twoItemSets.sort_values(by=['support'], ascending=False).head(5)
#As we can see, the top 5 2-itemsets with the highest support is in the dataframe down below.

,support,itemsets
211,0.035617,"(JUMBO BAG RED RETROSPOT, JUMBO BAG PINK POLKADOT)"
207,0.031806,"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )"
218,0.031670,"(JUMBO BAG RED RETROSPOT, JUMBO STORAGE BAG SUKI)"
217,0.029809,"(JUMBO BAG RED RETROSPOT, JUMBO SHOPPER VINTAGE RED PAISLEY)"
223,0.027541,"(LUNCH BAG RED RETROSPOT, LUNCH BAG BLACK SKULL.)"

In [7]:
#1.1.3 
#As we can see from the dataframe in 1.1.1 the highest support value for 1-itemsets is 0.098276
#1.1.4
#As we can see from the dataframe in 1.1.2 the highest support value for 2-itemsets is 0.0.035617

In [8]:
from mlxtend.frequent_patterns import association_rules
ar1 = association_rules(basket_itemsets, metric="confidence", min_threshold=0)
ar1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED ),0.039746,0.042196,0.025544,0.642694,15.231158,0.023867,2.680627
1,(ALARM CLOCK BAKELIKE RED ),(ALARM CLOCK BAKELIKE GREEN),0.042196,0.039746,0.025544,0.605376,15.231158,0.023867,2.433341
2,(RED RETROSPOT CHARLOTTE BAG),(CHARLOTTE BAG PINK POLKADOT),0.041062,0.030581,0.021733,0.529282,17.307671,0.020478,2.059447
3,(CHARLOTTE BAG PINK POLKADOT),(RED RETROSPOT CHARLOTTE BAG),0.030581,0.041062,0.021733,0.710682,17.307671,0.020478,3.314484
4,(RED RETROSPOT CHARLOTTE BAG),(CHARLOTTE BAG SUKI DESIGN),0.041062,0.036479,0.021552,0.524862,14.388005,0.020054,2.027875
...,...,...,...,...,...,...,...,...,...
83,"(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",(ROSES REGENCY TEACUP AND SAUCER ),0.026180,0.043421,0.022368,0.854419,19.677538,0.021232,6.570786
84,"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",(GREEN REGENCY TEACUP AND SAUCER),0.024773,0.042377,0.022368,0.902930,21.306837,0.021319,9.865319
85,(GREEN REGENCY TEACUP AND SAUCER),"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",0.042377,0.024773,0.022368,0.527837,21.306837,0.021319,2.065446
86,(ROSES REGENCY TEACUP AND SAUCER ),"(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",0.043421,0.026180,0.022368,0.515152,19.677538,0.021232,2.008504
87,(PINK REGENCY TEACUP AND SAUCER),"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",0.031897,0.031806,0.022368,0.701280,22.048811,0.021354,3.241145

In [9]:
ar1.sort_values(by=['confidence'], ascending=False).head(5)
#1.2.1 top 5 association rules.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
84,"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",(GREEN REGENCY TEACUP AND SAUCER),0.024773,0.042377,0.022368,0.902930,21.306837,0.021319,9.865319
83,"(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",(ROSES REGENCY TEACUP AND SAUCER ),0.026180,0.043421,0.022368,0.854419,19.677538,0.021232,6.570786
11,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.031897,0.042377,0.026180,0.820768,19.368019,0.024828,5.342926
72,(PINK REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER ),0.031897,0.043421,0.024773,0.776671,17.886978,0.023388,4.283280
14,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER ),0.042377,0.043421,0.031806,0.750535,17.285056,0.029966,3.834527

In [10]:
ar2 = association_rules(basket_itemsets, metric="confidence", min_threshold=0.1)
ar2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED ),0.039746,0.042196,0.025544,0.642694,15.231158,0.023867,2.680627
1,(ALARM CLOCK BAKELIKE RED ),(ALARM CLOCK BAKELIKE GREEN),0.042196,0.039746,0.025544,0.605376,15.231158,0.023867,2.433341
2,(RED RETROSPOT CHARLOTTE BAG),(CHARLOTTE BAG PINK POLKADOT),0.041062,0.030581,0.021733,0.529282,17.307671,0.020478,2.059447
3,(CHARLOTTE BAG PINK POLKADOT),(RED RETROSPOT CHARLOTTE BAG),0.030581,0.041062,0.021733,0.710682,17.307671,0.020478,3.314484
4,(RED RETROSPOT CHARLOTTE BAG),(CHARLOTTE BAG SUKI DESIGN),0.041062,0.036479,0.021552,0.524862,14.388005,0.020054,2.027875
...,...,...,...,...,...,...,...,...,...
83,"(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",(ROSES REGENCY TEACUP AND SAUCER ),0.026180,0.043421,0.022368,0.854419,19.677538,0.021232,6.570786
84,"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",(GREEN REGENCY TEACUP AND SAUCER),0.024773,0.042377,0.022368,0.902930,21.306837,0.021319,9.865319
85,(GREEN REGENCY TEACUP AND SAUCER),"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",0.042377,0.024773,0.022368,0.527837,21.306837,0.021319,2.065446
86,(ROSES REGENCY TEACUP AND SAUCER ),"(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",0.043421,0.026180,0.022368,0.515152,19.677538,0.021232,2.008504
87,(PINK REGENCY TEACUP AND SAUCER),"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",0.031897,0.031806,0.022368,0.701280,22.048811,0.021354,3.241145

In [11]:
ar3 = association_rules(basket_itemsets, metric="confidence", min_threshold=0.2)
ar3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED ),0.039746,0.042196,0.025544,0.642694,15.231158,0.023867,2.680627
1,(ALARM CLOCK BAKELIKE RED ),(ALARM CLOCK BAKELIKE GREEN),0.042196,0.039746,0.025544,0.605376,15.231158,0.023867,2.433341
2,(RED RETROSPOT CHARLOTTE BAG),(CHARLOTTE BAG PINK POLKADOT),0.041062,0.030581,0.021733,0.529282,17.307671,0.020478,2.059447
3,(CHARLOTTE BAG PINK POLKADOT),(RED RETROSPOT CHARLOTTE BAG),0.030581,0.041062,0.021733,0.710682,17.307671,0.020478,3.314484
4,(RED RETROSPOT CHARLOTTE BAG),(CHARLOTTE BAG SUKI DESIGN),0.041062,0.036479,0.021552,0.524862,14.388005,0.020054,2.027875
...,...,...,...,...,...,...,...,...,...
83,"(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",(ROSES REGENCY TEACUP AND SAUCER ),0.026180,0.043421,0.022368,0.854419,19.677538,0.021232,6.570786
84,"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",(GREEN REGENCY TEACUP AND SAUCER),0.024773,0.042377,0.022368,0.902930,21.306837,0.021319,9.865319
85,(GREEN REGENCY TEACUP AND SAUCER),"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",0.042377,0.024773,0.022368,0.527837,21.306837,0.021319,2.065446
86,(ROSES REGENCY TEACUP AND SAUCER ),"(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",0.043421,0.026180,0.022368,0.515152,19.677538,0.021232,2.008504
87,(PINK REGENCY TEACUP AND SAUCER),"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",0.031897,0.031806,0.022368,0.701280,22.048811,0.021354,3.241145

In [12]:
ar4 = association_rules(basket_itemsets, metric="confidence", min_threshold=0.6)
ar4

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED ),0.039746,0.042196,0.025544,0.642694,15.231158,0.023867,2.680627
1,(ALARM CLOCK BAKELIKE RED ),(ALARM CLOCK BAKELIKE GREEN),0.042196,0.039746,0.025544,0.605376,15.231158,0.023867,2.433341
2,(CHARLOTTE BAG PINK POLKADOT),(RED RETROSPOT CHARLOTTE BAG),0.030581,0.041062,0.021733,0.710682,17.307671,0.020478,3.314484
3,(DOTCOM POSTAGE),(JUMBO BAG RED RETROSPOT),0.032123,0.087931,0.022005,0.685028,7.790517,0.019181,2.895717
4,(GARDENERS KNEELING PAD KEEP CALM ),(GARDENERS KNEELING PAD CUP OF TEA ),0.040744,0.034029,0.024546,0.602450,17.703994,0.023160,2.429809
5,(GARDENERS KNEELING PAD CUP OF TEA ),(GARDENERS KNEELING PAD KEEP CALM ),0.034029,0.040744,0.024546,0.721333,17.703994,0.023160,3.442306
6,(GREEN REGENCY TEACUP AND SAUCER),(PINK REGENCY TEACUP AND SAUCER),0.042377,0.031897,0.026180,0.617773,19.368019,0.024828,2.532797
7,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.031897,0.042377,0.026180,0.820768,19.368019,0.024828,5.342926
8,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER ),0.042377,0.043421,0.031806,0.750535,17.285056,0.029966,3.834527
9,(ROSES REGENCY TEACUP AND SAUCER ),(GREEN REGENCY TEACUP AND SAUCER),0.043421,0.042377,0.031806,0.732497,17.285056,0.029966,3.579862
10,(JUMBO BAG BAROQUE BLACK WHITE),(JUMBO BAG RED RETROSPOT),0.041289,0.087931,0.025862,0.626374,7.123465,0.022232,2.441126
11,(JUMBO BAG PINK POLKADOT),(JUMBO BAG RED RETROSPOT),0.052586,0.087931,0.035617,0.677308,7.702719,0.030993,2.826438
12,(JUMBO BAG STRAWBERRY),(JUMBO BAG RED RETROSPOT),0.035935,0.087931,0.023457,0.652778,7.423747,0.020298,2.626759
13,(JUMBO BAG WOODLAND ANIMALS),(JUMBO BAG RED RETROSPOT),0.033348,0.087931,0.021506,0.644898,7.334134,0.018574,2.568470
14,(JUMBO STORAGE BAG SUKI),(JUMBO BAG RED RETROSPOT),0.051270,0.087931,0.031670,0.617699,7.024813,0.027161,2.385736
15,(PAPER CHAIN KIT VINTAGE CHRISTMAS),(PAPER CHAIN KIT 50'S CHRISTMAS ),0.036298,0.051044,0.024410,0.672500,13.175022,0.022557,2.897577
16,(PINK REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER ),0.031897,0.043421,0.024773,0.776671,17.886978,0.023388,4.283280
17,(RED HANGING HEART T-LIGHT HOLDER),(WHITE HANGING HEART T-LIGHT HOLDER),0.031942,0.098276,0.021234,0.664773,6.764354,0.018095,2.689889
18,(STRAWBERRY CHARLOTTE BAG),(RED RETROSPOT CHARLOTTE BAG),0.030535,0.041062,0.020780,0.680535,16.573469,0.019527,3.001700
19,"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",(PINK REGENCY TEACUP AND SAUCER),0.031806,0.031897,0.022368,0.703281,22.048811,0.021354,3.262695
20,"(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",(ROSES REGENCY TEACUP AND SAUCER ),0.026180,0.043421,0.022368,0.854419,19.677538,0.021232,6.570786
21,"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",(GREEN REGENCY TEACUP AND SAUCER),0.024773,0.042377,0.022368,0.902930,21.306837,0.021319,9.865319
22,(PINK REGENCY TEACUP AND SAUCER),"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",0.031897,0.031806,0.022368,0.701280,22.048811,0.021354,3.241145

In [13]:
ar5 = association_rules(basket_itemsets, metric="confidence", min_threshold=0.9)
ar5

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",(GREEN REGENCY TEACUP AND SAUCER),0.024773,0.042377,0.022368,0.90293,21.306837,0.021319,9.865319

In [14]:
#1.2.2
#I tried google the association rules with the highest confidence 
#(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER ) and (GREEN REGENCY TEACUP AND SAUCER)
#since they are the same thing(small tea cup with base) and difference patterns on it, I assume people will
#buy them altogether.

In [15]:
#2
import numpy as np
import pandas as pd
path = "https://raw.githubusercontent.com/cs6220/cs6220.spring2019/master/data/adult/"
names = pd.read_csv(path + "adult.names", sep="\n", header=None)
parse_cols = lambda x: x.str.split(":", expand=True).iloc[:, 0]
columns = np.roll(parse_cols(names.iloc[92:108, 0]), shift=-1)
df_adult = pd.read_csv(path + "adult.data", sep=",", header=None, index_col=False)
df_adult.columns = columns

In [16]:
df_adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,">50K, <=50K."
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [17]:
df_nominal = df_adult.select_dtypes(exclude=[np.number])
df_nominal

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,">50K, <=50K."
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [18]:
#2.1.1
oneHot_encoded = pd.get_dummies(df_nominal)
oneHot_encoded

,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,">50K, <=50K._ <=50K",">50K, <=50K._ >50K"
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32557,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32558,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32559,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32560,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [19]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
itemsets = apriori(oneHot_encoded, min_support=0.05, use_colnames=True, max_len=3)
itemsets

,support,itemsets
0,0.056386,(workclass_ ?)
1,0.064279,(workclass_ Local-gov)
2,0.697030,(workclass_ Private)
3,0.078038,(workclass_ Self-emp-not-inc)
4,0.164461,(education_ Bachelors)
...,...,...
499,0.580971,"(native-country_ United-States, >50K, <=50K._ <=50K, race_ White)"
500,0.205890,"(native-country_ United-States, race_ White, >50K, <=50K._ >50K)"
501,0.264427,"(native-country_ United-States, sex_ Female, >50K, <=50K._ <=50K)"
502,0.411197,"(native-country_ United-States, >50K, <=50K._ <=50K, sex_ Male)"
503,0.187310,"(native-country_ United-States, sex_ Male, >50K, <=50K._ >50K)"

In [20]:
#2.1.2
#I used min support of 0.05 so I can have fair amount(504 rows) of data instead of too little or too big.
#Then I used confidence with min threshold of 0.1 even thought I sort the df by confidence.
#Here are rules I found interesting:
#1. row 1809 (relationship_ Husband, >50K, <=50K._ >50K) (sex_ Male), this rule has the highest confidence 
#of 1. And it makes sense since it's a husband with more than 50k annual income, then the consequents of being
#a male is very likely.
#2. Rows like 295, with missing information with every part, it still has the highest confidence yet the 
#antecedent support and consequent support are low.
#3. Row 1098 (relationship_ Husband, education_ Some-college), (marital-status_ Married-civ-spouse) this rule
#also makes sense, since it's a husband that went to college, the marital status is married.
#4. Row 1042 (education_ HS-grad, relationship_ Not-in-family) and (>50K, <=50K._ <=50K), in general HS-grad
#with less than 50k annual income makes sense.
#5. For the first 60 rows, which are the top 60 in confidence. Rules assoicated with annual income are usually
#less than 50k. I do not really know the reasoning behind this.
ar21 = association_rules(itemsets, metric="confidence", min_threshold=0.1)
ar21.sort_values('confidence', ascending=False).head(60)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(workclass_ ?),(occupation_ ?),0.056386,0.056601,0.056386,1.000000,17.667390,0.053195,inf
1299,"(occupation_ Exec-managerial, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.067166,0.459937,0.067166,1.000000,2.174212,0.036274,inf
1713,"(occupation_ Prof-specialty, relationship_ Husband)",(sex_ Male),0.055404,0.669205,0.055404,1.000000,1.494309,0.018327,inf
1643,"(occupation_ Exec-managerial, relationship_ Husband)",(sex_ Male),0.067166,0.669205,0.067166,1.000000,1.494309,0.022218,inf
1587,"(occupation_ Craft-repair, relationship_ Husband)",(sex_ Male),0.077117,0.669205,0.077117,1.000000,1.494309,0.025510,inf
1809,"(relationship_ Husband, >50K, <=50K._ >50K)",(sex_ Male),0.181751,0.669205,0.181751,1.000000,1.494309,0.060122,inf
1142,"(education_ Some-college, relationship_ Husband)",(sex_ Male),0.075980,0.669205,0.075980,1.000000,1.494309,0.025134,inf
289,"(native-country_ United-States, workclass_ ?)",(occupation_ ?),0.050951,0.056601,0.050951,1.000000,17.667390,0.048067,inf
878,"(relationship_ Husband, education_ Bachelors)",(sex_ Male),0.074721,0.669205,0.074721,1.000000,1.494309,0.024717,inf
294,"(workclass_ ?, >50K, <=50K._ <=50K)",(occupation_ ?),0.050521,0.056601,0.050521,1.000000,17.667390,0.047661,inf
228,(relationship_ Husband),(sex_ Male),0.405178,0.669205,0.405147,0.999924,1.494196,0.134000,4364.171954
1354,"(marital-status_ Married-civ-spouse, relationship_ Husband)",(sex_ Male),0.404902,0.669205,0.404871,0.999924,1.494196,0.133909,4361.194804
1774,"(race_ White, relationship_ Husband)",(sex_ Male),0.366696,0.669205,0.366666,0.999916,1.494184,0.121270,3949.686435
1797,"(native-country_ United-States, relationship_ Husband)",(sex_ Male),0.364270,0.669205,0.364239,0.999916,1.494183,0.120468,3923.553669
650,"(workclass_ Private, relationship_ Husband)",(sex_ Male),0.263260,0.669205,0.263229,0.999883,1.494135,0.087054,2835.570529
1803,"(>50K, <=50K._ <=50K, relationship_ Husband)",(sex_ Male),0.223427,0.669205,0.223396,0.999863,1.494104,0.073878,2406.530051
1013,"(education_ HS-grad, relationship_ Husband)",(sex_ Male),0.131415,0.669205,0.131384,0.999766,1.493960,0.043441,1415.469703
1099,"(education_ Some-college, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.075980,0.459937,0.075950,0.999596,2.173333,0.041004,1336.116520
1372,"(relationship_ Husband, >50K, <=50K._ >50K)",(marital-status_ Married-civ-spouse),0.181751,0.459937,0.181628,0.999324,2.172743,0.098034,799.023602
138,(relationship_ Husband),(marital-status_ Married-civ-spouse),0.405178,0.459937,0.404902,0.999318,2.172729,0.218545,791.672741
1355,"(sex_ Male, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.405147,0.459937,0.404871,0.999318,2.172729,0.218529,791.612734
1366,"(>50K, <=50K._ <=50K, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.223427,0.459937,0.223273,0.999313,2.172718,0.120511,785.792052
459,"(workclass_ Private, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.263260,0.459937,0.263075,0.999300,2.172690,0.141993,771.570386
1349,"(race_ White, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.366696,0.459937,0.366420,0.999246,2.172573,0.197763,716.483933
1358,(relationship_ Husband),"(sex_ Male, marital-status_ Married-civ-spouse)",0.405178,0.409048,0.404871,0.999242,2.442850,0.239134,779.643457
1360,"(native-country_ United-States, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.364270,0.459937,0.363994,0.999241,2.172562,0.196453,711.743377
1272,"(occupation_ Craft-repair, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.077117,0.459937,0.077055,0.999204,2.172480,0.041587,678.049430
845,"(relationship_ Husband, education_ Bachelors)",(marital-status_ Married-civ-spouse),0.074721,0.459937,0.074660,0.999178,2.172425,0.040293,656.986963
1327,"(occupation_ Prof-specialty, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.055404,0.459937,0.055342,0.998891,2.171802,0.029860,487.137066
941,"(education_ HS-grad, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.131415,0.459937,0.131261,0.998832,2.171672,0.070819,462.186143
1,(occupation_ ?),(workclass_ ?),0.056601,0.056386,0.056386,0.996202,17.667390,0.053195,248.439961
290,"(native-country_ United-States, occupation_ ?)",(workclass_ ?),0.051166,0.056386,0.050951,0.995798,17.660234,0.048065,224.580019
296,"(>50K, <=50K._ <=50K, occupation_ ?)",(workclass_ ?),0.050736,0.056386,0.050521,0.995763,17.659602,0.047660,222.692792
1432,"(marital-status_ Never-married, occupation_ Other-service)","(>50K, <=50K._ <=50K)",0.050398,0.759190,0.050029,0.992687,1.307560,0.011768,32.930707
1490,"(marital-status_ Never-married, relationship_ Own-child)","(>50K, <=50K._ <=50K)",0.137741,0.759190,0.136697,0.992419,1.307207,0.032125,31.765614
1162,"(relationship_ Own-child, education_ Some-college)","(>50K, <=50K._ <=50K)",0.052977,0.759190,0.052517,0.991304,1.305739,0.012297,27.693099
1284,"(occupation_ Craft-repair, marital-status_ Married-civ-spouse)",(sex_ Male),0.078745,0.669205,0.077946,0.989860,1.479156,0.025250,32.621428
1353,"(sex_ Male, marital-status_ Married-civ-spouse)",(relationship_ Husband),0.409048,0.405178,0.404871,0.989789,2.442850,0.239134,58.253195
1907,"(relationship_ Own-child, sex_ Female)","(>50K, <=50K._ <=50K)",0.068948,0.759190,0.068180,0.988864,1.302524,0.015835,21.624698
724,"(workclass_ Private, relationship_ Own-child)","(>50K, <=50K._ <=50K)",0.118762,0.759190,0.117318,0.987846,1.301183,0.027156,19.812991
1923,"(native-country_ United-States, relationship_ Own-child)","(>50K, <=50K._ <=50K)",0.144068,0.759190,0.142256,0.987423,1.300626,0.032881,19.146401
253,(relationship_ Own-child),"(>50K, <=50K._ <=50K)",0.155646,0.759190,0.153589,0.986780,1.299779,0.035423,18.215266
1897,"(relationship_ Own-child, race_ White)","(>50K, <=50K._ <=50K)",0.130678,0.759190,0.128866,0.986134,1.298928,0.029656,17.366859
1918,"(relationship_ Own-child, sex_ Male)","(>50K, <=50K._ <=50K)",0.086699,0.759190,0.085409,0.985122,1.297596,0.019588,16.185842
985,"(marital-status_ Never-married, education_ HS-grad)","(>50K, <=50K._ <=50K)",0.094868,0.759190,0.093455,0.985108,1.297578,0.021432,16.170885
1130,"(marital-status_ Never-married, education_ Some-college)","(>50K, <=50K._ <=50K)",0.090077,0.759190,0.088449,0.981930,1.293391,0.020064,13.326310
1271,"(occupation_ Craft-repair, marital-status_ Married-civ-spouse)",(relationship_ Husband),0.078745,0.405178,0.077055,0.978549,2.415109,0.045150,27.729521
1698,"(sex_ Female, occupation_ Other-service)","(>50K, <=50K._ <=50K)",0.055281,0.759190,0.053715,0.971667,1.279872,0.011746,8.499161
1526,"(marital-status_ Never-married, sex_ Female)","(>50K, <=50K._ <=50K)",0.146402,0.759190,0.141304,0.965177,1.271324,0.030157,6.915296
612,"(workclass_ Private, occupation_ Other-service)","(>50K, <=50K._ <=50K)",0.084150,0.759190,0.081079,0.963504,1.269120,0.017193,6.598182
600,"(>50K, <=50K._ <=50K, occupation_ Machine-op-inspct)",(workclass_ Private),0.053807,0.697030,0.051841,0.963470,1.382250,0.014336,8.293799
1703,"(native-country_ United-States, occupation_ Other-service)","(>50K, <=50K._ <=50K)",0.085286,0.759190,0.082031,0.961829,1.266914,0.017282,6.308756
1695,"(race_ White, occupation_ Other-service)","(>50K, <=50K._ <=50K)",0.077485,0.759190,0.074383,0.959968,1.264463,0.015557,6.015470
530,"(workclass_ Private, marital-status_ Never-married)","(>50K, <=50K._ <=50K)",0.251405,0.759190,0.241332,0.959932,1.264415,0.050467,6.009960
205,(occupation_ Other-service),"(>50K, <=50K._ <=50K)",0.101195,0.759190,0.096987,0.958422,1.262426,0.020161,5.791734
1946,"(relationship_ Unmarried, sex_ Female)","(>50K, <=50K._ <=50K)",0.081509,0.759190,0.078069,0.957800,1.261606,0.016188,5.706326
24,(occupation_ Machine-op-inspct),(workclass_ Private),0.061485,0.697030,0.058751,0.955544,1.370880,0.015895,6.815119
1040,"(relationship_ Not-in-family, education_ HS-grad)","(>50K, <=50K._ <=50K)",0.077301,0.759190,0.073800,0.954708,1.257534,0.015114,5.316822
165,(marital-status_ Never-married),"(>50K, <=50K._ <=50K)",0.328092,0.759190,0.313012,0.954039,1.256653,0.063928,5.239447
1604,"(occupation_ Craft-repair, race_ White)",(sex_ Male),0.113449,0.669205,0.108228,0.953979,1.425540,0.032307,7.187970

In [21]:
#2.1.3
#1. For row 1618, (marital-status_ Never-married, sex_ Male) (relationship_ Own-child). It's a small chance
#but it has high lift. And there are also rules with same parts but on the opposite position. I assume this is 
#due to the min support value choose is  too low. So rules do not really make sense also appear.
#2. For row 983, It displays a rule between education, relationship and income. Bachelor degree is assoicated
#with higher annual income makes sense. But relationship being husband does not seem fit in this rule. It's
#probably still beacuse min support is too low.
#3.For row 2151, there is a rule between (relationship_ Unmarried) and (>50K, <=50K._ <=50K, sex_ Female),
#rules like this also appeared in top rules with meteric confidence. In top results, there are many rules 
#between gender and annual income which are usually female with less than 50k annual income which may reflect
#some social issues. 
#4. For row 1838, there is a rule between 	(>50K, <=50K._ >50K) and (sex_ Male, occupation_ Exec-managerial)
#which describes mroe than 50k annual income and gender is male with a exec-managerial job, which I believe it 
#reflect the relation bewteen income and gender and occupation. Combining with information from above, it should
#reflect some social issues if the data is real.
#5. The top rules by using lift metric are usually between gender and some other features, and some rules 
#does not fall under common sense. I believe it's because of min support is too low.
ar22 = association_rules(itemsets, metric="lift", min_threshold=0.1)
ar22.sort_values('lift', ascending=False).head(60)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
321,(occupation_ ?),"(workclass_ ?, >50K, <=50K._ <=50K)",0.056601,0.050521,0.050521,0.892566,17.667390,0.047661,8.837831
0,(workclass_ ?),(occupation_ ?),0.056386,0.056601,0.056386,1.000000,17.667390,0.053195,inf
316,"(workclass_ ?, >50K, <=50K._ <=50K)",(occupation_ ?),0.050521,0.056601,0.050521,1.000000,17.667390,0.047661,inf
315,(occupation_ ?),"(native-country_ United-States, workclass_ ?)",0.056601,0.050951,0.050951,0.900163,17.667390,0.048067,9.505968
310,"(native-country_ United-States, workclass_ ?)",(occupation_ ?),0.050951,0.056601,0.050951,1.000000,17.667390,0.048067,inf
1,(occupation_ ?),(workclass_ ?),0.056601,0.056386,0.056386,0.996202,17.667390,0.053195,248.439961
314,(workclass_ ?),"(native-country_ United-States, occupation_ ?)",0.056386,0.051166,0.050951,0.903595,17.660234,0.048065,9.842148
311,"(native-country_ United-States, occupation_ ?)",(workclass_ ?),0.051166,0.056386,0.050951,0.995798,17.660234,0.048065,224.580019
319,(workclass_ ?),"(>50K, <=50K._ <=50K, occupation_ ?)",0.056386,0.050736,0.050521,0.895969,17.659602,0.047660,9.124867
318,"(>50K, <=50K._ <=50K, occupation_ ?)",(workclass_ ?),0.050736,0.056386,0.050521,0.995763,17.659602,0.047660,222.692792
1461,"(>50K, <=50K._ >50K)","(occupation_ Exec-managerial, marital-status_ Married-civ-spouse)",0.240810,0.075059,0.051166,0.212473,2.830741,0.033091,1.174488
1456,"(occupation_ Exec-managerial, marital-status_ Married-civ-spouse)","(>50K, <=50K._ >50K)",0.075059,0.240810,0.051166,0.681669,2.830741,0.033091,2.384912
986,"(>50K, <=50K._ >50K)","(relationship_ Husband, education_ Bachelors)",0.240810,0.074721,0.050551,0.209922,2.809403,0.032558,1.171124
983,"(relationship_ Husband, education_ Bachelors)","(>50K, <=50K._ >50K)",0.074721,0.240810,0.050551,0.676531,2.809403,0.032558,2.347027
1634,(relationship_ Own-child),"(marital-status_ Never-married, >50K, <=50K._ <=50K)",0.155646,0.313012,0.136697,0.878256,2.805817,0.087978,5.642873
1631,"(marital-status_ Never-married, >50K, <=50K._ <=50K)",(relationship_ Own-child),0.313012,0.155646,0.136697,0.436715,2.805817,0.087978,1.498981
1625,"(native-country_ United-States, marital-status_ Never-married)",(relationship_ Own-child),0.294186,0.155646,0.127852,0.434597,2.792205,0.082063,1.493365
1628,(relationship_ Own-child),"(native-country_ United-States, marital-status_ Never-married)",0.155646,0.294186,0.127852,0.821429,2.792205,0.082063,3.952557
962,"(>50K, <=50K._ >50K)","(marital-status_ Married-civ-spouse, education_ Bachelors)",0.240810,0.085010,0.056970,0.236577,2.782942,0.036499,1.198536
959,"(marital-status_ Married-civ-spouse, education_ Bachelors)","(>50K, <=50K._ >50K)",0.085010,0.240810,0.056970,0.670159,2.782942,0.036499,2.301686
1607,"(marital-status_ Never-married, race_ White)",(relationship_ Own-child),0.268941,0.155646,0.116121,0.431769,2.774038,0.074261,1.485934
1610,(relationship_ Own-child),"(marital-status_ Never-married, race_ White)",0.155646,0.268941,0.116121,0.746054,2.774038,0.074261,2.878792
1619,"(marital-status_ Never-married, sex_ Male)",(relationship_ Own-child),0.181690,0.155646,0.077762,0.427992,2.749772,0.049482,1.476122
1622,(relationship_ Own-child),"(marital-status_ Never-married, sex_ Male)",0.155646,0.181690,0.077762,0.499605,2.749772,0.049482,1.635330
1620,"(relationship_ Own-child, sex_ Male)",(marital-status_ Never-married),0.086699,0.328092,0.077762,0.896918,2.733741,0.049317,6.518201
1621,(marital-status_ Never-married),"(relationship_ Own-child, sex_ Male)",0.328092,0.086699,0.077762,0.237012,2.733741,0.049317,1.197006
1632,"(relationship_ Own-child, >50K, <=50K._ <=50K)",(marital-status_ Never-married),0.153589,0.328092,0.136697,0.890022,2.712722,0.086306,6.109477
1633,(marital-status_ Never-married),"(relationship_ Own-child, >50K, <=50K._ <=50K)",0.328092,0.153589,0.136697,0.416643,2.712722,0.086306,1.450933
1609,(marital-status_ Never-married),"(relationship_ Own-child, race_ White)",0.328092,0.130678,0.116121,0.353927,2.708393,0.073246,1.345548
1608,"(relationship_ Own-child, race_ White)",(marital-status_ Never-married),0.130678,0.328092,0.116121,0.888602,2.708393,0.073246,6.031580
1624,"(native-country_ United-States, relationship_ Own-child)",(marital-status_ Never-married),0.144068,0.328092,0.127852,0.887444,2.704864,0.080585,5.969547
1629,(marital-status_ Never-married),"(native-country_ United-States, relationship_ Own-child)",0.328092,0.144068,0.127852,0.389685,2.704864,0.080585,1.402442
543,(marital-status_ Never-married),"(workclass_ Private, relationship_ Own-child)",0.328092,0.118762,0.105371,0.321164,2.704276,0.066407,1.298162
538,"(workclass_ Private, relationship_ Own-child)",(marital-status_ Never-married),0.118762,0.328092,0.105371,0.887251,2.704276,0.066407,5.959332
166,(marital-status_ Never-married),(relationship_ Own-child),0.328092,0.155646,0.137741,0.419826,2.697307,0.086675,1.455345
167,(relationship_ Own-child),(marital-status_ Never-married),0.155646,0.328092,0.137741,0.884964,2.697307,0.086675,5.840875
542,(relationship_ Own-child),"(workclass_ Private, marital-status_ Never-married)",0.155646,0.251405,0.105371,0.676993,2.692837,0.066241,2.317580
539,"(workclass_ Private, marital-status_ Never-married)",(relationship_ Own-child),0.251405,0.155646,0.105371,0.419130,2.692837,0.066241,1.453602
1614,"(relationship_ Own-child, sex_ Female)",(marital-status_ Never-married),0.068948,0.328092,0.059980,0.869933,2.651493,0.037359,5.165869
1615,(marital-status_ Never-married),"(relationship_ Own-child, sex_ Female)",0.328092,0.068948,0.059980,0.182814,2.651493,0.037359,1.139339
1613,"(marital-status_ Never-married, sex_ Female)",(relationship_ Own-child),0.146402,0.155646,0.059980,0.409692,2.632196,0.037193,1.430360
1616,(relationship_ Own-child),"(marital-status_ Never-married, sex_ Female)",0.155646,0.146402,0.059980,0.385359,2.632196,0.037193,1.388775
2149,(relationship_ Unmarried),"(sex_ Female, >50K, <=50K._ <=50K)",0.105832,0.294586,0.078069,0.737667,2.504084,0.046892,2.689002
2148,"(sex_ Female, >50K, <=50K._ <=50K)",(relationship_ Unmarried),0.294586,0.105832,0.078069,0.265013,2.504084,0.046892,1.216576
1492,"(sex_ Male, marital-status_ Married-civ-spouse)",(relationship_ Husband),0.409048,0.405178,0.404871,0.989789,2.442850,0.239134,58.253195
1497,(relationship_ Husband),"(sex_ Male, marital-status_ Married-civ-spouse)",0.405178,0.409048,0.404871,0.999242,2.442850,0.239134,779.643457
1407,(relationship_ Husband),"(occupation_ Craft-repair, marital-status_ Married-civ-spouse)",0.405178,0.078745,0.077055,0.190177,2.415109,0.045150,1.137600
1402,"(occupation_ Craft-repair, marital-status_ Married-civ-spouse)",(relationship_ Husband),0.078745,0.405178,0.077055,0.978549,2.415109,0.045150,27.729521
1834,"(occupation_ Exec-managerial, sex_ Male)","(>50K, <=50K._ >50K)",0.089279,0.240810,0.051841,0.580667,2.411314,0.030342,1.810473
1839,"(>50K, <=50K._ >50K)","(occupation_ Exec-managerial, sex_ Male)",0.240810,0.089279,0.051841,0.215279,2.411314,0.030342,1.160567
2147,"(relationship_ Unmarried, >50K, <=50K._ <=50K)",(sex_ Female),0.099137,0.330795,0.078069,0.787485,2.380585,0.045275,3.148973
2150,(sex_ Female),"(relationship_ Unmarried, >50K, <=50K._ <=50K)",0.330795,0.099137,0.078069,0.236004,2.380585,0.045275,1.179146
2140,"(native-country_ United-States, relationship_ Unmarried)",(sex_ Female),0.093148,0.330795,0.072264,0.775800,2.345261,0.041451,2.984853
2145,(sex_ Female),"(native-country_ United-States, relationship_ Unmarried)",0.330795,0.093148,0.072264,0.218457,2.345261,0.041451,1.160335
802,"(workclass_ Private, relationship_ Unmarried)",(sex_ Female),0.076103,0.330795,0.058659,0.770783,2.330096,0.033485,2.919527
807,(sex_ Female),"(workclass_ Private, relationship_ Unmarried)",0.330795,0.076103,0.058659,0.177328,2.330096,0.033485,1.123044
276,(relationship_ Unmarried),(sex_ Female),0.105832,0.330795,0.081509,0.770168,2.328238,0.046500,2.911720
277,(sex_ Female),(relationship_ Unmarried),0.330795,0.105832,0.081509,0.246402,2.328238,0.046500,1.186532
803,"(workclass_ Private, sex_ Female)",(relationship_ Unmarried),0.238076,0.105832,0.058659,0.246388,2.328102,0.033463,1.186510
806,(relationship_ Unmarried),"(workclass_ Private, sex_ Female)",0.105832,0.238076,0.058659,0.554266,2.328102,0.033463,1.709368

In [22]:
#2.1.4
f_itemsets1 = apriori(oneHot_encoded, min_support=0.02, use_colnames=True, max_len=3)
f_itemsets1
i1 = association_rules(f_itemsets1, metric="confidence", min_threshold=0.1)
i2 = association_rules(f_itemsets1, metric="lift", min_threshold=0.1)
i1.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2352,"(education_ Masters, relationship_ Husband)",(sex_ Male),0.027210,0.669205,0.027210,1.000000,1.494309,0.009001,inf
1833,"(relationship_ Husband, education_ Bachelors)",(sex_ Male),0.074721,0.669205,0.074721,1.000000,1.494309,0.024717,inf
1540,"(workclass_ Self-emp-inc, relationship_ Husband)",(sex_ Male),0.024139,0.669205,0.024139,1.000000,1.494309,0.007985,inf
1525,"(workclass_ Self-emp-inc, relationship_ Husband)",(marital-status_ Married-civ-spouse),0.024139,0.459937,0.024139,1.000000,2.174212,0.013037,inf
515,"(workclass_ ?, race_ White)",(occupation_ ?),0.046374,0.056601,0.046374,1.000000,17.667390,0.043750,inf
...,...,...,...,...,...,...,...,...,...
3598,(sex_ Male),"(occupation_ Exec-managerial, relationship_ Husband)",0.669205,0.067166,0.067166,0.100367,1.494309,0.022218,1.036905
4318,"(>50K, <=50K._ <=50K)","(native-country_ United-States, race_ Black)",0.759190,0.086975,0.076195,0.100364,1.153939,0.010165,1.014883
3925,"(>50K, <=50K._ >50K)","(occupation_ Sales, relationship_ Husband)",0.240810,0.046252,0.024139,0.100242,2.167324,0.013001,1.060006
1131,"(>50K, <=50K._ <=50K)","(workclass_ Private, occupation_ Craft-repair)",0.759190,0.098124,0.075980,0.100081,1.019948,0.001486,1.002175
2105,"(education_ HS-grad, >50K, <=50K._ <=50K)",(occupation_ Machine-op-inspct),0.271060,0.061485,0.027118,0.100045,1.627161,0.010452,1.042847

In [23]:
i2.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3775,"(relationship_ Husband, occupation_ Machine-op-inspct)",(marital-status_ Married-civ-spouse),0.027303,0.459937,0.027303,1.000000,2.174212,0.014745,inf
2131,"(workclass_ Self-emp-not-inc, relationship_ Husband)",(sex_ Male),0.047357,0.669205,0.047357,1.000000,1.494309,0.015666,inf
746,"(relationship_ Husband, workclass_ Local-gov)",(marital-status_ Married-civ-spouse),0.026381,0.459937,0.026381,1.000000,2.174212,0.014248,inf
782,"(relationship_ Husband, workclass_ Local-gov)",(sex_ Male),0.026381,0.669205,0.026381,1.000000,1.494309,0.008727,inf
4711,"(occupation_ Exec-managerial, relationship_ Husband)",(sex_ Male),0.067166,0.669205,0.067166,1.000000,1.494309,0.022218,inf
...,...,...,...,...,...,...,...,...,...
1737,(native-country_ United-States),"(workclass_ Private, occupation_ Tech-support)",0.895857,0.022604,0.020546,0.022935,1.014634,0.000296,1.000339
3178,(native-country_ United-States),"(education_ Masters, >50K, <=50K._ <=50K)",0.895857,0.023464,0.020300,0.022660,0.965760,-0.000720,0.999178
772,(native-country_ United-States),"(occupation_ Prof-specialty, workclass_ Local-gov)",0.895857,0.021652,0.020270,0.022626,1.045000,0.000873,1.000997
2193,(native-country_ United-States),"(workclass_ Self-emp-not-inc, >50K, <=50K._ >50K)",0.895857,0.022235,0.020239,0.022592,1.016034,0.000319,1.000365
5218,(native-country_ United-States),"(occupation_ Sales, relationship_ Own-child)",0.895857,0.021805,0.020085,0.022420,1.028207,0.000551,1.000629

In [24]:
f_itemsets2 = apriori(oneHot_encoded, min_support=0.08, use_colnames=True, max_len=3)
f_itemsets2

,support,itemsets
0,0.697030,(workclass_ Private)
1,0.164461,(education_ Bachelors)
2,0.322502,(education_ HS-grad)
3,0.223918,(education_ Some-college)
4,0.136452,(marital-status_ Divorced)
...,...,...
301,0.580971,"(native-country_ United-States, >50K, <=50K._ <=50K, race_ White)"
302,0.205890,"(native-country_ United-States, race_ White, >50K, <=50K._ >50K)"
303,0.264427,"(native-country_ United-States, sex_ Female, >50K, <=50K._ <=50K)"
304,0.411197,"(native-country_ United-States, >50K, <=50K._ <=50K, sex_ Male)"
305,0.187310,"(native-country_ United-States, sex_ Male, >50K, <=50K._ >50K)"

In [25]:
i3 = association_rules(f_itemsets2, metric="confidence", min_threshold=0.1)
i4 = association_rules(f_itemsets2, metric="lift", min_threshold=0.1)
i3.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1084,"(relationship_ Husband, >50K, <=50K._ >50K)",(sex_ Male),0.181751,0.669205,0.181751,1.000000,1.494309,0.060122,inf
152,(relationship_ Husband),(sex_ Male),0.405178,0.669205,0.405147,0.999924,1.494196,0.134000,4364.171954
790,"(marital-status_ Married-civ-spouse, relationship_ Husband)",(sex_ Male),0.404902,0.669205,0.404871,0.999924,1.494196,0.133909,4361.194804
1049,"(race_ White, relationship_ Husband)",(sex_ Male),0.366696,0.669205,0.366666,0.999916,1.494184,0.121270,3949.686435
1072,"(native-country_ United-States, relationship_ Husband)",(sex_ Male),0.364270,0.669205,0.364239,0.999916,1.494183,0.120468,3923.553669
...,...,...,...,...,...,...,...,...,...
179,(native-country_ United-States),(relationship_ Unmarried),0.895857,0.105832,0.093148,0.103977,0.982468,-0.001662,0.997929
388,(race_ White),"(workclass_ Private, occupation_ Craft-repair)",0.854274,0.098124,0.087927,0.102926,1.048947,0.004103,1.005354
976,(native-country_ United-States),"(occupation_ Adm-clerical, >50K, <=50K._ <=50K)",0.895857,0.100212,0.091858,0.102537,1.023200,0.002083,1.002591
996,(race_ White),"(occupation_ Craft-repair, >50K, <=50K._ <=50K)",0.854274,0.097356,0.087528,0.102459,1.052419,0.004360,1.005686
296,(native-country_ United-States),"(workclass_ Private, marital-status_ Divorced)",0.895857,0.095789,0.089954,0.100411,1.048251,0.004141,1.005138

In [26]:
i4.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1101,"(relationship_ Husband, >50K, <=50K._ >50K)",(sex_ Male),0.181751,0.669205,0.181751,1.000000,1.494309,0.060122,inf
153,(relationship_ Husband),(sex_ Male),0.405178,0.669205,0.405147,0.999924,1.494196,0.134000,4364.171954
801,"(marital-status_ Married-civ-spouse, relationship_ Husband)",(sex_ Male),0.404902,0.669205,0.404871,0.999924,1.494196,0.133909,4361.194804
1066,"(race_ White, relationship_ Husband)",(sex_ Male),0.366696,0.669205,0.366666,0.999916,1.494184,0.121270,3949.686435
1089,"(native-country_ United-States, relationship_ Husband)",(sex_ Male),0.364270,0.669205,0.364239,0.999916,1.494183,0.120468,3923.553669
...,...,...,...,...,...,...,...,...,...
725,(native-country_ United-States),"(marital-status_ Never-married, education_ Some-college)",0.895857,0.090077,0.082583,0.092184,1.023387,0.001887,1.002321
1049,(native-country_ United-States),"(>50K, <=50K._ <=50K, occupation_ Other-service)",0.895857,0.096987,0.082031,0.091567,0.944111,-0.004856,0.994033
1043,(native-country_ United-States),"(occupation_ Exec-managerial, sex_ Male)",0.895857,0.089279,0.081846,0.091361,1.023325,0.001866,1.002292
719,(native-country_ United-States),"(education_ Some-college, marital-status_ Married-civ-spouse)",0.895857,0.086545,0.080434,0.089784,1.037423,0.002901,1.003558
1187,(native-country_ United-States),"(relationship_ Own-child, sex_ Male)",0.895857,0.086699,0.080219,0.089544,1.032818,0.002549,1.003125

In [27]:
#As we can see from the dataframe above, with the reduction of support, rules generated with different metrics
#that with smae threshold are getting similar. With support being 0.02, top rules are not the same, we can
#also tell that from the row number. But with support being 0.08, top rules are very similar.